* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.menu {
  max-width: 100vw;
  color: #515151;
  margin-bottom: 27px;
  display: flex;

  &__container {
    transition: transform 0.3s 0.1s ease-in-out;
  }

  &__list {
    display: flex;
  }

  &__item {
    list-style-type: none;
    margin-right: 49px;
    margin-top: 48px;

    &--logo {
      margin-right: auto;
      margin-left: 40px;
    }
  }

  &__logo-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15em;
  }

  &__link {
    color: #515151;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;

    &--logo {
      width: 110px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.hamburger {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  visibility: hidden;
  position: absolute;
  top: 37px;
  right: 37px;

  &__box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  &__inner {
    width: 100%;
    height: 3.5px;
    background-color: #515151;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.1s 0.2s ease-in-out;

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 3px;
      background-color: #515151;
      position: absolute;
      left: 0;
      transition: transform 0.2s 0.2s ease-in-out;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }

  &--active &__inner {
    background-color: transparent;
  }

  &--active &__inner::before {
    transform: translateY(10px) rotate(45deg);
  }

  &--active &__inner::after {
    transform: translateY(-10px) rotate(-45deg);
  }
}

.page-header {
  display: flex;
  flex-direction: column;
  background-image: url("../images/cover-photo.png"),
    url("../images/cover-layer.png");
  height: 585px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;

  &__welcome {
    font-weight: bold;
    font-size: 100px;
    line-height: 117px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffc53d;
    mix-blend-mode: normal;
    margin-top: 77px;
  }

  &__name {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  &__social {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }

  &__link,
  .contact__link {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    display: inline-block;
    margin: 28px 12.5px;
    border-radius: 50%;
    position: relative;

    &--github,
    .contact__link--github {
      background-color: transparent;
    }
  }

  &__img,
  .contact__img {
    &--twitter {
      width: 15.39px;
      height: 12.5px;
      position: absolute;
      top: 6.5px;
      left: 5px;
    }

    &--linkedin,
    .contact__img--linkedin {
      width: 12.5px;
      height: 12.5px;
      position: absolute;
      top: 5.5px;
      left: 7px;
    }

    &--github,
    .contact__img--github {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &--facebook,
    .contact__img--facebook {
      width: 8.59px;
      height: 16.67px;
      position: absolute;
      top: 4.5px;
      left: 8px;
    }
  }
}

.contact-me {
  min-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.02em;
    color: #222222;
    margin-top: 28px;
    margin-bottom: 36px;
  }

  &__buttons {
    display: flex;
  }

  &__btn {
    width: 200px;
    height: 50px;
    margin: 0 40px;
    background: linear-gradient(270deg, #ffc53d 14%, #ff9a3d 68.5%);
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    border: none;

    &:hover {
      background: #ffffff;
      border: 1px solid #ffc53d;
      border-radius: 15px;
      color: #ffc53d;
    }
  }
}

.about-me {
  position: relative;

  &__title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: #222222;
    position: absolute;
    top: -55px;
    left: 150px;
  }

  &__container {
    display: flex;
    width: 86%;
    margin: 75px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -75px;
      left: -9%;
      height: calc(100% + 150px);
      width: 68%;
      background-color: #fafaff;
      z-index: -1;
    }
  }

  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px;
  }

  &__list {
    list-style-type: none;
    max-width: 340px;
    padding: 50px 25px 50px 0;
  }

  &__span {
    font-weight: bold;
    font-size: 18px;
    line-height: 160.86%;
    letter-spacing: 0.02em;

    &--orange {
      color: #ffc53d;
    }
  }
  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 172.35%;
    letter-spacing: 0.04em;
    position: relative;
    max-width: 640px;
    padding: 0 50px 0 25px;
    margin: 50px 0;
    border-left: 4px dashed #ffc53d;
  }
}

.skills {
  width: 100%;
  display: flex;
  background: linear-gradient(90deg, #ffffff 32%, #fafaff 32%);
  margin: 207px 0 75px 0;

  &__container {
    display: flex;
    width: 86%;
    margin: 74px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    position: relative;
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.02em;
    color: #222222;
    position: absolute;
    top: -55px;
    left: 34%;
  }

  &__list {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 38px 0 50px 0;
    width: 33%;

    &--middle {
      border-left: 4px dashed #ffc53d;
      border-right: 4px dashed #ffc53d;
    }
  }

  &__span {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;

    &--orange {
      font-weight: bold;
      color: #ffc53d;
      margin: 46px 0 13px 0;
    }
  }
}

.portfolio {
  margin-bottom: 72px;
  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #222222;
    margin: 120px 0 22px 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .tile {
      flex: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 350px;

      &__overlay {
        padding: 35px;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: linear-gradient(
          180deg,
          rgba(34, 34, 34, 0.5) 0%,
          rgba(255, 154, 61, 0.5) 100%
        );
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 1;
          .tile__title,
          .tile__text,
          .tile__btn {
            visibility: visible;
          }
        }
      }

      &--first {
        background-image: url("../images/tile1.png");
        width: 530px;
      }

      &--second {
        background-image: url("../images/tile2.png");
        width: 390px;
      }

      &--third {
        background-image: url("../images/tile3.png");
        width: 518px;
      }

      &--fourth {
        background-image: url("../images/tile4.png");
        width: 392px;
      }

      &--fifth {
        background-image: url("../images/tile5.png");
        width: 1049px;
      }

      &__title {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        color: #ffffff;
        visibility: hidden;
      }

      &__text {
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.02em;
        color: #ffffff;
        visibility: hidden;
      }

      &__btn {
        width: 100px;
        height: 50px;
        margin: 58px 0 0 0;
        background: linear-gradient(270deg, #ffc53d 14%, #ff9a3d 68.5%);
        border-radius: 15px;
        cursor: pointer;
        color: #ffffff;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        border: none;
        visibility: hidden;
      }
    }
  }
}

.contact {
  width: 100%;
  background-color: #fafaff;
  position: relative;
  padding: 1px 0 1px 0;

  &__title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: #222222;
    position: absolute;
    top: -55px;
    left: 55px;
  }

  &__container {
    width: 86vw;
    background-color: #ffffff;
    margin: 74px auto 90px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    display: flex;
  }

  &__envelope {
    width: 68px;
    height: 68px;
    margin-bottom: 25px;
  }

  &__text {
    width: 75%;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 172.35%;
    letter-spacing: 0.04em;
    margin-bottom: 206px;
  }

  &__social {
    list-style-type: none;
    display: flex;
  }

  &__info {
    width: 35%;
    background-color: #ff9a3d;
    color: #ffffff;
    padding: 36px 0 36px 52px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 40px;
      right: -17px;
      width: 35px;
      height: 35px;
      transform: rotate(45deg);
      background-color: #ff9a3d;
    }
  }

  &__link {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    display: inline-block;
    margin: 0 25px 9px 0;
    border-radius: 50%;
    position: relative;

    &--github {
      background-color: transparent;
    }
  }

  &__img {
    &--twitter {
      width: 15.39px;
      height: 12.5px;
      position: absolute;
      top: 6.5px;
      left: 5px;
    }

    &--linkedin {
      width: 12.5px;
      height: 12.5px;
      position: absolute;
      top: 5.5px;
      left: 7px;
    }

    &--github {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &--facebook {
      width: 8.59px;
      height: 16.67px;
      position: absolute;
      top: 4.5px;
      left: 8px;
    }
  }

  &__adress {
    display: flex;
    flex-direction: column;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
  }
  &__span {
    word-break: break-all;
  }
  &__span--name,
  &__span--city {
    font-weight: bold;
  }
}

.contact-form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    margin: 30px 0 25px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 172.35%;
    letter-spacing: 0.04em;
    color: #222222;
  }

  &__form {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }

  &__input {
    width: 100%;
    background: #fafaff;
    border-radius: 15px;
    border: none;
    margin-bottom: 17px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #222222;
    padding: 12px 24px;
    resize: none;

    &:focus {
      outline: none;
      box-shadow: inset 0px 5px 5px 0px #b5b5b5;
    }

    &::placeholder {
      font-family: Ubuntu;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      align-items: center;
      color: #a0a0a0;
    }
  }

  &__btn {
    width: 100px;
    height: 50px;
    align-self: center;
    margin-bottom: 24px;
    background: linear-gradient(270deg, #ffc53d 14%, #ff9a3d 68.5%);
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    border: none;
    align-self: flex-end;

    &:hover {
      background: #ffffff;
      border: 1px solid #ffc53d;
      border-radius: 15px;
      color: #ffc53d;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  &__span {
    padding: 34px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #a0a0a0;
  }
}

@media (max-width: 1080px) {
  .contact-me {
    &__title {
      text-align: center;
      margin: 28px 40px 36px 40px;
    }
  }

  .about-me {
    &__container {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    &__list {
      padding: 0 0 0 50px;
      justify-self: flex-start;
    }

    &__text {
      border: none;
      padding: 20px 50px 50px 50px;
      margin: 0;
    }
  }

  .contact {
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__info,
    &__form {
      width: 100%;
    }
    &__info::after {
      right: 50%;
      top: 95%;
    }
    &__text {
      margin-bottom: 50px;
    }
  }

  .contact-form {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .hamburger {
    visibility: visible;
  }

  .menu__container {
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 100px;
    right: 0;
    background-color: #ffffff;
    transform: translateX(250px);
    z-index: 1;
  }
  .menu {
    &__list {
      flex-direction: column;
      z-index: 10;
    }

    &__item {
      margin: 0;
      padding: 25px 25px 25px 50px;

      &--logo {
        padding-bottom: 0;
        padding-top: 52px;
      }
    }
  }
}

@media (max-width: 630px) {
  .contact-me {
    &__buttons {
      flex-direction: column;
    }

    &__btn {
      margin-bottom: 40px;
    }
  }

  .about-me {
    &__list {
      margin-right: auto;
      padding-left: 50px;
    }
  }

  .skills {
    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      width: 100%;
      border: none;
    }
  }
}

@media (max-width: 550px) {
  .page-header {
    &__welcome {
      font-size: 80px;
    }
  }
}

@media (max-width: 420px) {
  .page-header {
    &__welcome {
      font-size: 60px;
    }

    &__name {
      font-size: 24px;
    }
  }
}

@media (max-width: 380px) {
  .about-me {
    &__list {
      padding: 15px;
    }

    &__span {
      font-size: 16px;
    }

    &__text {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 16px;
    }
  }
}

.menu__container--active {
  transform: translateX(0);
}
